<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View All Tasks</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      <li>@Model.GetDescription()</li>
    </ul>
  </body>
</html>
